{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth_style.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <header class="auth-header">
        <div class="logo">Sparkling Minds</div>
    </header>

    <main class="auth-container">
        <section class="auth-card">
            <h2>Choose a new password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-teal">Change password</button>
            </form>
        </section>
    </main>
</div>
{% endblock %}